@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts
{
    <script src="\monogameonwebgl\bridge.min.js"></script>
    <script src="\monogameonwebgl\bridge.console.min.js"></script>
    <script src="\monogameonwebgl\bridge.meta.min.js"></script>
    <script src="\monogameonwebgl\MonoGame.Framework.min.js"></script>
    <script src="\monogameonwebgl\MonoGame.Framework.meta.min.js"></script>
    <script src="\monogameonwebgl\MonoGameOnWebGL.min.js"></script>
    <script src="\monogameonwebgl\MonoGameOnWebGL.meta.min.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

